<div class="dashboard" id="fund">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  
    <a class="navbar-brand" >基金一览</a>
  </nav>

  <section class="pd-5">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>轮数</th>
          <th>基金名称</th>
          <th>获投总计</th>
          <th>获投日期</th>
          <th>投资经理</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th scope="row">1</th>
          <td>天使轮</td>
          <td>基金1号</td>
          <td>1000万</td>
          <td>2016-6-1</td>
          <td>张斌</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>A轮</td>
          <td>基金2号</td>
          <td>200万</td>
          <td>2016-10-1</td>
          <td>徐来</td>
        </tr>
         <tr>
          <th scope="row">3</th>
          <td>B轮</td>
          <td>基金3号</td>
          <td>400万</td>
          <td>2016-11-1</td>
          <td>张斌</td>
        </tr>
         <tr>
          <td>B+轮</td>
          <td>基金4号</td>
          <td>600万</td>
          <td></td>
          <td>2016-12-1</td>
          <td>徐来</td>
        </tr>
      </tbody>
    </table>
    <div class="form-group row">
      <div class="col-center">
        <button class="btn btn-primary"><i class="fa fa-plus-square" aria-hidden="true"></i><span>新增投资</span></button>
      </div>
    </div>

  </section>
  <div>