  <section>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>基金名称</th>
          <th>认缴规模(万元)</th>
          <th>已缴款(万元)</th>
          <th>设立时间</th>
          <th>投资企业数量</th>
          <th>承诺出资(万元)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>基金1号</td>
          <td>5，000</td>
          <td>0</td>
          <td>2017</td>
          <td>4</td>
          <td>5,000</td>
        </tr>
         <tr>
          <td>基金2号</td>
          <td>8,000</td>
          <td>300</td>
          <td>2016</td>
          <td>7</td>
          <td>8,000</td>
        </tr>
         <tr>
          <td>基金3号</td>
          <td>10,000</td>
          <td>2,000</td>
          <td>2015</td>
          <td>8</td>
          <td>10,000</td>
        </tr>
         <tr>
          <td>基金4号</td>
          <td>7,000</td>
          <td>1,000</td>
          <td>2014</td>
          <td>4</td>
          <td>7,000</td>
        </tr>
      </tbody>
    </table>
  </section>