<div class="row">
    <div class="col-6">
        <div>
            <div class="row">
                <div class="col-5">
                    <img src="assets/img/investment.png">
                </div>
                <div class="col-7">
                    <h2 class="mt-50">综合收益</h2>
                    <h1>147%</h1>
                </div>
                <div class="col-12">
                    <p>*综合收益率 =  (累计分红 + 累计退出收益 + 预计未实现收益) / 投资成本</p>
                </div>
            </div>
            <div [chart]="peiChart"></div>
        </div>
    </div>

    <div class="col-6">
        <div [chart]="rateBarChart"></div>
        <div [chart]="incomeBarChart"></div>
    </div>
</div>