/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */
.logo{
    height: 80px;
    text-align: center;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-family: serif;
    font-size: 13px;
    line-height: 80px;
    margin-bottom: 10px;
}


.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


ul li{
 padding:0 10px 0;
 color: white;
}

.nav-link{
 color: #b5a4a4;
 font-family: sans-serif;
 cursor: pointer;
}

a.nav-link:hover .hidden, .active-link .hidden{
  display:block;
}

a.nav-link:hover, .active-link{
 background-color: darkslategray;
 color: white;
}

.hidden{
  display: none;
}

.mt-25{
  margin-top:25px;
}