<ul class="nav nav-pills flex-column">
    <li class="nav-item disabled logo">
        基金管理系统-Link
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="../dashboard" routerLinkActive="active-link">
                <span class="col-md-2 col-sm-2  clear-pd">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </span>
                <span class="col-md-8 col-sm-10">首页</span>
                <span class="col-md-2 col-sm-0 clear-pd pull-right hidden">
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </span>
            </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="../fund" routerLinkActive="active-link" >
                <span class="col-md-2 col-sm-2  clear-pd">
                    <i class="fa fa-money" aria-hidden="true"></i>
                </span>
                <span class="col-md-8 col-sm-10">基金管理</span>
                <span class="col-md-2 col-sm-0 clear-pd pull-right hidden">
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </span>
            </a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  routerLink="../investment" routerLinkActive="active-link">
                <span class="col-md-2 col-sm-2  clear-pd">
                    <i class="fa fa-product-hunt" aria-hidden="true"></i>
                </span>
                <span class="col-md-8 col-sm-10">投资项目管理</span>
                <span class="col-md-2 col-sm-0 clear-pd pull-right hidden">
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </span>
            </a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  routerLink="../invester" routerLinkActive="active-link">
                <span class="col-md-2 col-sm-2  clear-pd">
                    <i class="fa fa-id-badge" aria-hidden="true"></i>
                </span>
                <span class="col-md-8 col-sm-10">投资人管理</span>
                <span class="col-md-2 col-sm-0 clear-pd pull-right hidden">
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </span>
            </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="../analysis" routerLinkActive="active-link">
                <span class="col-md-2 col-sm-2  clear-pd">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
                <span class="col-md-8 col-sm-10">分析模块</span>
                <span class="col-md-2 col-sm-0 clear-pd pull-right hidden">
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </span>
            </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink='/library' routerLinkActive="active" >
                <span class="col-md-2 col-sm-2  clear-pd">
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                </span>
                <span class="col-md-8 col-sm-10">文件库</span>
                <span class="col-md-2 col-sm-0 clear-pd pull-right hidden">
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </span>
            </a>
    </li>
</ul>

<ul class="nav nav-pills flex-column mt-25">
    <li class="nav-item">
        <a class="nav-link" routerLink="../personal" routerLinkActive="active-link">
                <span class="col-md-2 col-sm-2  clear-pd">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                </span>
                <span class="col-md-8 col-sm-10">个人便签管理</span>
                <span class="col-md-2 col-sm-0 clear-pd pull-right hidden">
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </span>
            </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="../event" routerLinkActive="active-link" >
                <span class="col-md-2 col-sm-2  clear-pd">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
                <span class="col-md-8 col-sm-10">事件管理</span>
                <span class="col-md-2 col-sm-0 clear-pd pull-right hidden">
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </span>
            </a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  routerLink="../setting" routerLinkActive="active-link">
                <span class="col-md-2 col-sm-2  clear-pd">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </span>
                <span class="col-md-8 col-sm-10">系统设置</span>
                <span class="col-md-2 col-sm-0 clear-pd pull-right hidden">
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </span>
            </a>
    </li>
</ul>