#user-profile{
    background: white;
    height: 80px;
}

#user-profile li a{
    color:black !important;
}

#user-profile li{
    border-right:1px solid lightgoldenrodyellow;
    width: 50px;
    text-align: center;
    line-height: 15px;
    height:30px;
}
#user-profile li:last-child{
    border-right:0px;
    width: 150px;
}
#user-profile button{
    color: black;
}