<div class="dashboard" id="fund-info">
  <nav class="navbar navbar-toggleable-md navbar-inverse mt-3">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbars-tab"
      aria-controls="navbars-tab" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbars-tab">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="./info" routerLinkActive="active">基本信息</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">投资组合</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">投资人</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">SPV管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">事件安排</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">现金流信息</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">合规遵从</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">财务信息</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">股权交易</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./analysis" routerLinkActive="active">分析</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">文件一览</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">事件安排</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">收益分配</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="tab-content tab-pannel" id="tab-content">
    <router-outlet></router-outlet>
  </div>
</div>