<div class="dashboard" id="fund-info">
  <nav class="navbar navbar-toggleable-md navbar-inverse mt-3">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbars-tab"
      aria-controls="navbars-tab" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbars-tab">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active">基本信息</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">投资组合</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">投资人</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">SPV管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">事件安排</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">现金流信息</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">合规遵从</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">财务信息</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">股权交易</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">分析</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">文件一览</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">事件安排</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">收益分配</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="tab-content tab-pannel" id="tab-content">
    <div class="info">
      基本信息
    </div>
    <div class="form-group row">
      <div class="row col-lg-6">
        <label class="col-3  col-form-label">基金全程</label>
        <div class="col-9">
          <p class="line-show">试验基金1号（有限合伙）</p>
        </div>
      </div>
      <div class="row col-lg-6">
        <label class="col-3  col-form-label">基金募集额度</label>
        <div class="col-9">
          <p class="line-show">1000万</p>
        </div>
      </div>
      <div class="row col-lg-4">
        <label  class="col-3  col-form-label">基金简称</label>
        <div class="col-9">
          <p class="line-show">基金1号</p>
        </div>
      </div>
      <div class="row col-lg-4">
        <label class="col-3  col-form-label">注册号</label>
        <div class="col-9">
          <p class="line-show">SD7463</p>
        </div>
      </div>
      <div class="row col-lg-4">
        <label class="col-3  col-form-label">已募集额度</label>
        <div class="col-9">
          <p class="line-show">800万</p>
        </div>
      </div>
      
      <div class="row col-lg-4">
        <label class="col-3  col-form-label">基金代码</label>
        <div class="col-9">
          <p class="line-show">F00001</p>
        </div>
      </div>
      <div class=" row col-lg-4">
        <label class="col-3  col-form-label">出资进度</label>
        <div class="col-9">
          <p class="line-show">0%</p>
        </div>
      </div>
      <div class="row col-lg-4">
        <label class="col-3  col-form-label">募集(%)</label>
        <div class="col-9">
          <p class="line-show">80%</p>
        </div>
      </div>

      <div class="row col-lg-4">
        <label  class="col-3  col-form-label">基金类型</label>
        <div class="col-9">
          <p class="line-show">有限合伙</p>
        </div>
      </div>
      <div class="row col-lg-4">
      </div>
       <div class="row col-lg-4">
      </div>
      <div class="row col-lg-4">
        <label class="col-3  col-form-label">缴款安排</label>
        <div class="col-9">
          <p class="line-show">分次缴纳</p>
        </div>
      </div>
       <div class="row col-lg-4">
      </div>
       <div class="row col-lg-4">
      </div>
      <div class="row col-lg-4">
        <label class="col-3  col-form-label">设立时间 </label>
        <div class="col-9">
          <p class="line-show">2017年3月2日</p>
        </div>
      </div>
      <div class="row col-lg-4">
        <label class="col-3  col-form-label">基金期限
        </label>
        <div class="col-9">
          <p class="line-show">3年</p>
        </div>
      </div>
      <div class="row col-lg-4">
        <label class="col-3  col-form-label">管理费率</label>
        <div class="col-9">
          <p class="line-show">3%</p>
        </div>
      </div>
      <div class="row col-lg-4">
        <label class="col-3 col-form-label">优先回报</label>
        <div class="col-9">
          <p class="line-show">8%</p>
        </div>
      </div>
      <div class="row col-lg-4">
        <label class="col-3  col-form-label">业绩报酬
        </label>
        <div class="col-9">
          <p class="line-show">20%</p>
        </div>
      </div>
      <div class="row col-lg-4">
      </div>

      <div class="row col-lg-12">
        <label class="col-3  col-form-label">费用报酬详述 </label>
        <div class="col-9">
          <p class="line-show"></p>
        </div>
      </div>
      <div class="row col-lg-4">
        <label class="col-3  col-form-label">注册地</label>
        <div class="col-9">
          <p class="line-show">上海市湖滨路23号</p>
        </div>
      </div>
      <div class="row col-lg-4">
      </div>
      <div class="row col-lg-4">
      </div>

       <div class="row col-lg-4">
        <label class="col-3  col-form-label">备案号</label>
        <div class="col-9">
          <p class="line-show"></p>
        </div>
      </div>
      <div class="row col-lg-4">
      </div>
      <div class="row col-lg-4">
      </div>

       <div class="row col-lg-4">
        <label class="col-3  col-form-label">合伙协议 </label>
        <div class="col-9">
          <p class="line-show"><i class="fa fa-file-word-o" aria-hidden="true"></i><span>合伙协议文件</span></p>
        </div>
      </div>
      <div class="row col-lg-4">
      </div>
      <div class="row col-lg-4">
      </div>


       <div class="row col-lg-4">
        <label class="col-3  col-form-label">托管协议</label>
        <div class="col-9">
          <p class="line-show"><i class="fa fa-file-word-o" aria-hidden="true"></i><span>托管协议文件</span></p>
        </div>
      </div>
      <div class="row col-lg-4">
      </div>
      <div class="row col-lg-4">
      </div>



    </div>
  </div>

   <div class="form-group row">
      <div class="col-center">
        <button class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span>编辑</span></button>
      </div>
    </div>
</div>