#fund-info nav button.navbar-toggler{
    color: black;
}
#navbars-tab a{
    font-size: 15px;
}

#tab-content{
    padding: 20px 20px 10px;
}

#tab-content span{
    margin-left: 10px;
}

#tab-content .info{
    background-color: #bbb6b0;
    padding: 10px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

.line-show{
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
   
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.col-center{
    margin:0 auto 20px;
}