.sidebar {
  position: absolute;
  top: 16px;
  bottom: 16px;
  left: 15px;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
   background-color:black;
}

.sidebar {
  padding-left: 0;
  padding-right: 0;
}

#app{
  min-height:750px;
}