/* You can add global styles to this file, and also import other style files */
body{
    background:  #694848;
}

.clear-pd{
    padding:0;
}
.dashboard{
    background: white;
    min-height: 700px;
    border-top:1px solid seashell;
}