  <section>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>基金名称</th>
          <th>总投资额</th>
          <th>已实现净收益</th>
          <th>已实现净收益率</th>
          <th>剩余预估净收益</th>
          <th>剩余预估净收益率</th>
          <th>当前综合收益</th>
          <th>当前综合净收益率</th>
        </tr>
      </thead>
      <tbody>
         <tr>
          <td>基金1号</td>
           <td>200 万元</td>
          <td>0</td>
          <td>-</td>
          <td>30 万元</td>
          <td>15%</td>
          <td>30 万元</td>
          <td>15%</td>
        </tr>
         <tr>
          <td>基金2号</td>
          <td>80 万元</td>
          <td>15 万</td>
          <td>18.8%</td>
          <td>20 万元</td>
          <td>20%</td>
          <td>35 万元</td>
          <td>38.8%</td>
        </tr>
         <tr>
          <td>基金3号</td>
           <td>130 万元</td>
          <td>22 万</td>
          <td>17%</td>
          <td>15 万元</td>
          <td>11.6%</td>
          <td>37 万元</td>
          <td>38.6%</td>
        </tr>
      </tbody>
    </table>
  </section>